DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_SECURE_SSL_REDIRECT=False
ESKIZ_EMAIL=your-email@example.com
ESKIZ_PASSWORD=your-eskiz-api-key
EMAIL_HOST_USER=apiexample@gmail.com
EMAIL_HOST_PASSWORD=password
